In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [9]:
df=pd.read_csv('BuyerRatio.csv')
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [26]:
p_value=chi2_contingency([df.iloc[:,1],df.iloc[:,2]])
p_value

(1.2537135655276055,
 0.2628443898785743,
 1,
 array([[  43.31162791,  441.68837209],
        [ 148.68837209, 1516.31162791]]))

In [27]:
#(Chi2 stats value, p_value, df, expected obsvations)

In [30]:
p_value[1]

0.2628443898785743

In [ ]:
# Compare p_value with Î± = 0.05
# Accept the null hypothesis